// 定义全局颜色
$color-background = #f6f8fa
$color-background-gap = #f0f0f0
$color-background-header = #24292e
$color-text = #333
$color-text-header = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

// 定义全局字体
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
