// 定义全局颜色
$color-background = #f6f8fa
$color-background-header = #24292e
$color-text = #333
$color-text-header = #fff

// 定义全局字体
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
